<h1>Your Albums</h1>
<% @albums.each_with_index do |album, index| %>
  <a href="/albums/<%= album.id %>">
    <p><%= "#{index + 1}. #{album.name}" %></p>
  </a>
<% end %>


<h2>Create a new album</h2>
<form action="/albums" method="post">
  <label>Album Name</label>
  <input type="text" name="album[name]" >
  <input type="submit" value="Create Album">
</form>