<h1>Album <%= @album.name %></h1>
<h2>Photos</h2>
<% @photos.each do |photo| %>
  <a href="/photos/<%= photo.id %>">
    <img src="<%= photo.file.thumb.url  %>"></img>
  </a>
<% end %>

<form action="/albums/<%= @album.id %>/photos" method="post" enctype="multipart/form-data">
  <div>
    <label>Description: </label>
    <input type="text" name="photo[description]">
  </div>
  <div>
    <label>Your Image:</label>
    <input type="file" name="photo[file]">
  </div>
  <input type="submit" value="Add a Photo">

</form>