<div>
  <img src="<%= @photo.file.url %>">
</div>
<div>
  <strong>Album: <%= @album.name %></strong>
  <small>User: <%= @photo.user.username %></small>
  <p>Description: <%= @photo.description %></p>
</div>